.logo{
   
    max-width: 9% ;
}

#titulo{
    font-style:oblique;
    font-family:sans-serif;
    color: white;
    
}
.black-line{
    background-color: rgba(0, 0, 0, 0.874);

}

.buttons{
    font-weight:bolder;
    border-radius: 20%;
    
}

.home{
    margin-right: 4vh;
}

/* margen top tarjetas */
.a{
    margin-top: 1vh;
    
}

.img-alert{
    margin-right: 1vh;
    margin-left: 1vh;
    width: 2%;
}

.grey{
    height: 70%;
    margin-top: 5px;
    
}

.request-button{
    background-color: black;
    border-width: 0;
    border-radius: 15vh;
    font-weight: bold;
    
}


.frame-card{
    border: 4px;
    border-style: outset;
    border-color: black;
}
    
    