.header{
height: 7vh;
}

.logo{
    max-width: 35% ;
    border: 0.5vh;
    border-color: rgb(0, 0, 0);
    border-style:outset;
    margin-bottom: 2vh; 
   
    
}


.start{
    padding: 0%;
   
}

.descuento{
    font-size: 65%;
}



.franja-menu{

    background-color:rgba(0, 0, 0, 0.84); 

}



.buttons{
    font-weight:bolder;
    border-radius: 20%;
    
}