.header{
height: 7vh;
padding-top: 1vh;



}

.logo{
    max-width: 60% ;
    border: 0.5vh;
    margin-left: 4%;
    border-color: rgb(0, 0, 0);
    border-style:outset;
    

    
}

body{
    /* background-image: url(/img/Capture-One-Catalog0260-1-Edit-scaled.jpeg);
    background-size: 50%;
    background-repeat: no-repeat; */

    
}

.start{
    padding: 0%;
    /* background-image: url(/img/Capture-One-Catalog0260-1-Edit-scaled.jpeg);
    height: 90vh;
    background-size: 80%;
    background-repeat:no-repeat; */

}

.descuento{
    font-size: 65%;
}

.menu{
   
    /* background-color: white; */
}

.jjj{
    background-color: red;
}

.font{
    color: black;
    font-weight:bolder;
    /* border-style: outset; */
    /* border-style: groove; */
    border: 0ch;
    margin-left:px;
    
}

/* .slider-size{
   height: 60vh;
   width: 50vw;
    
} */

.slider{
    margin-top: 15vh;
    /* margin-right: 10vw;
    margin-left: 35vw;
    margin-top: 5vh;
    border: 0.5vh;
    border-style:double;
    border-color: black; */

}